.main-div-container{
    width: 95%;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom:85px;
    margin-top:20px;
  }

  .task-div-container{
    width: 95%;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom:85px;
    margin-top:20px;
  }

  a {
    text-decoration: none;
  }